aiobotocore==2.21.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aioitertools==0.12.0
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
awscli==1.38.38
azure-core==1.33.0
azure-storage-blob==12.25.1
beautifulsoup4==4.12.3
blinker==1.9.0
blis==0.7.11
boto3==1.37.38
botocore==1.37.38
catalogue==2.0.10
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.21.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.0
cryptography==44.0.2
cycler==0.12.1
cymem==2.0.11
decorator==5.2.1
deep-translator==1.11.4
docutils==0.19
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
en_ner_bc5cdr_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz#sha256=ffc73130a710edf851206199720cb2c744a043e032f5da6ba4bb36863deca778
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.115.12
Flask==3.1.0
fonttools==4.55.3
frozenlist==1.6.0
fsspec==2025.3.2
h11==0.16.0
httptools==0.6.4
idna==3.10
imbalanced-learn==0.12.4
importlib_metadata==8.6.1
importlib_resources==6.4.5
ipython==8.18.1
ipython-genutils==0.2.0
ipython-sql==0.5.0
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
jellyfish==1.2.0
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.7
langcodes==3.5.0
language_data==1.3.0
lightgbm==4.6.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
multidict==6.4.3
murmurhash==1.0.12
negspacy==1.0.4
nltk==3.9.1
numpy==1.26.4
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
preshed==3.0.9
prettytable==3.16.0
prompt_toolkit==3.0.51
propcache==0.3.1
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.7
pyarrow==19.0.1
pyasn1==0.6.1
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
Pygments==2.19.1
PyMySQL==1.1.1
pyparsing==3.2.0
pyspark==3.5.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.13.0
regex==2024.11.6
requests==2.32.3
rich==14.0.0
rsa==4.7.2
s3fs==2025.3.2
s3transfer==0.11.5
scikit-learn==1.6.0
scipy==1.13.1
seaborn==0.13.2
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.6
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
sqlparse==0.5.3
srsly==2.5.1
stack-data==0.6.3
starlette==0.46.2
textblob==0.19.0
thinc==8.2.5
threadpoolctl==3.5.0
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.2
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2024.2
urllib3==1.26.20
us==3.2.0
uvicorn==0.34.2
uvloop==0.21.0
wasabi==1.1.3
watchfiles==1.0.5
wcwidth==0.2.13
weasel==0.4.1
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
xgboost==2.1.4
yarl==1.20.0
zipp==3.21.0
