
# Core APIs
fastapi
uvicorn
requests
pydantic
python-dotenv

# Frontend
streamlit

# NLP
spacy
scikit-learn
textblob
langdetect
deep-translator

# Database
sqlalchemy
pymysql

# Data science utils
numpy
pandas
joblib

# Optional (only if used)
matplotlib
seaborn

# Model files
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
en_ner_bc5cdr_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
